html, body {
  height: 100%;
  width: 100%;
}

/** {
  border: thin red solid;
}*/

body {
  display: flex;
  flex-direction: column;
  align-items: center;
  margin: 0;
  background-color: rgb(20, 20, 20);
}

#appContainer {
  display: flex;
  flex-direction: column;
  justify-content: center;
  width: 100%;
  height: 100%;
}

#titleContainer {
  display: flex;
  flex-direction: column;
  justify-content: flex-end;
  align-items: center;
  width: 100%;
  height: 40%;
  /*display: none;*/
}

#searchContainer {
  display: flex;
  flex-direction: column;
  justify-content: flex-start;
  align-items: center;
  width: 100%;
  height: 100%;
  /*display: none;*/
}

#trackContainer {
  display: flex;
  flex-direction: column;
  background-color: rgb(35, 35, 35);
  width: 100%;
  height: 80%;
  overflow-y: scroll;
  display: none;
}

.track-item {
  display: flex;
  flex-direction: row;
  flex-grow: 5;
  width: 100%;
  min-height: 15%;
  max-height: 20%;
  margin-top: 20px;
  cursor: pointer;
}

.track-item:hover, .track-item:active { background-color: rgb(100, 100, 100); }

#play {
  height: 75px;
  width: 20%;
  background-color: rgb(55, 55, 55);
  border-radius: 20px;
  align-self: center;
  margin-left: 10px;
}

#play:hover, #play:active {
  background-color: rgb(219, 81, 6);
}

.track-text-container {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  min-height: 100%;
  width: 75%;
}

.track-text {
  height: 50%;
  width: 100%;
  overflow: hidden;
  white-space: nowrap;
  text-overflow: ellipsis;
}

::-webkit-scrollbar { background-color: rgb(60, 60, 60); }
::-webkit-scrollbar-thumb { background-color: rgb(219, 81, 6); }

#player {
  display: none;
}

.material-icons.md-18 { font-size: 18px; }
.material-icons.md-24 { font-size: 24px; }
.material-icons.md-36 { font-size: 36px; }
.material-icons.md-48 { font-size: 48px; }

h1 {
  font-size: 22pt;
  margin: 0 auto;
  font-family: sans-serif;
  color: white;
}

h2 {
  font-size: 10pt;
  margin: 0 auto;
  font-family: sans-serif;
  color: white;
}

strong { color: rgb(219, 81, 6); }

input[type="text"] {
  width: 80%;
  height: 2.2em;
  border-radius: 0.5em;
  margin-top: 4em;
  font-family: sans-serif;
  font-size: 12pt;
}

input[type="submit"] {
  width: 40%;
  height: 3em;
  background-color: rgb(219, 81, 6);
  border-radius: 0.5em;
  margin-top: 4em;
  cursor: pointer;
  border: none;
  font-family: sans-serif;
  color: white;
  font-size: 10pt;
}

input[type="submit"]:hover, input[type="submit"]:active  { background-color: #ff9233; }

@media (min-width: 576px) {
    input[type="submit"] { width: 30%;}
    .app-container       { width: 80%; }
    #play {
      width: 15%;
      margin-right: 10px;
     }
    .track-item          { justify-content: space-between; }
    .track-text          { margin-left: 20px; }
}

@media (min-width: 992px) {
  h1                   { font-size: 32pt; }
  input[type="text"]   { width: 60%; }
  input[type="submit"] { width: 20%;}
  #play         { width: 10%; }
}
