html, body {
  height: 100%;
  width: 100%;
}

/* debug */
/** {
  border: thin red solid;
}*/

body {
  display: flex;
  flex-direction: column;
  align-items: center;
  margin: 0;
  background-color: rgb(20, 20, 20);
}

#appContainer {
  display: flex;
  flex-direction: column;
  justify-content: center;
  width: 100%;
  height: 100%;
}

#titleContainer {
  display: flex;
  flex-direction: column;
  justify-content: flex-end;
  align-items: center;
  width: 100%;
  height: 40%;
  /*display: none;*/
}

#searchContainer {
  display: flex;
  flex-direction: column;
  justify-content: flex-start;
  align-items: center;
  width: 100%;
  height: 100%;
  /*display: none;*/
}

#trackContainer {
  display: flex;
  flex-direction: column;
  background-color: rgb(20, 20, 20);
  width: 100%;
  height: 100%;
  margin-top: 48px;
  margin-bottom: 90px;
  overflow-y: scroll;
  display: none;
}

.track-item {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  flex-grow: 5;
  width: 100%;
  min-height: 60px;
  max-height: 15%;
  margin-top: 20px;
  cursor: pointer;
}

.track-item:hover, .track-item:active { background-color: rgb(25, 25, 25); }

.button-container {
  display: flex;
  justify-content: center;
  align-items: center;
  margin-left: 10px;
}

.track-text-container {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  min-height: 100%;
  width: 75%;
}

h1, h2, h3 {
  margin: 0 auto;
  font-family: sans-serif;
  color: white;
}

h1 { font-size: 22pt; }

h2, h3 { font-size: 10pt; }

.track-text {
  width: 100%;
  overflow: hidden;
  white-space: nowrap;
  text-overflow: ellipsis;
  margin-left: 10px;
}

.username {
  padding-top: 10px;
  margin-left: 10px;
  color: gray;
}

.bar-row {
  display: flex;
  position: fixed;
  top: 0;
  flex-direction: row;
  justify-content: space-between;
  align-items: center;
  min-height: 48px;
  max-height: 48px;
  margin-bottom: -48px;
  width: 100%;
  background-color: rgb(25, 25, 25);
}

#trackTitle {
  width: 60%;
  overflow: hidden;
  white-space: nowrap;
  text-overflow: ellipsis;
  text-align: center;
}

#playerContainer {
  display: none;
  position: fixed;
  flex-direction: row;
  justify-content: space-around;
  align-items: center;
  bottom: 0;
  height: 90px;
  width: 100%;
  background-color: rgb(25, 25, 25);
}

#playButton { display: none; }

::-webkit-scrollbar { background-color: rgb(60, 60, 60); }
::-webkit-scrollbar-thumb { background-color: rgb(219, 81, 6); }

.notice {
  display: flex;
  justify-content: center;
  margin-top: 5em;
}

#queueContainer {
  display: none;
  flex-direction: column;
  align-items: center;
  height: 100%;
  width: 100%;
  margin-top: 58px;
  margin-bottom: 100px;
  background-color: rgb(25, 25, 25);
  overflow-y: scroll;
}

.queue-item {
  font-size: 12pt;
  margin-top: 20px;
  width: 70%;
}

.queue-text {
  width: 100%;
  overflow: hidden;
  white-space: nowrap;
  text-overflow: ellipsis;
  text-align: center;
}

/* Icons */
.material-icons.md-18  { font-size: 18px; }
.material-icons.md-24  { font-size: 24px; }
.material-icons.md-36  { font-size: 36px; }
.material-icons.md-48  { font-size: 48px; }
.material-icons        { cursor: pointer; color: rgb(45, 45, 45); }
i.material-icons:hover { color: rgb(219, 81, 6); }

strong { color: rgb(219, 81, 6); }

/* Search box */
input[type="text"] {
  width: 80%;
  height: 2.2em;
  border-radius: 0.5em;
  margin-top: 4em;
  font-family: sans-serif;
  font-size: 12pt;
  text-align: center;
}

/* Submit search button */
input[type="submit"] {
  width: 40%;
  height: 3em;
  background-color: rgb(219, 81, 6);
  border-radius: 0.5em;
  margin-top: 4em;
  cursor: pointer;
  border: none;
  font-family: sans-serif;
  color: white;
  font-size: 10pt;
}

input[type="submit"]:hover, input[type="submit"]:active  { background-color: #ff9233; }

@media (min-width: 576px) {
    input[type="submit"] { width: 30%;}
    .app-container       { width: 80%; }
    .track-text          { margin-left: 20px; font-size: 14pt; }
}

@media (min-width: 992px) {
  h1                    { font-size: 32pt; }
  input[type="text"]    { width: 60%; }
  input[type="submit"]  { width: 20%;}
  .track-text-container { width: 60%; margin-left: 10%; }
  .track-text           { font-size: 16pt; }
  .button-container     { margin-right: 10%; }
  #back                 { margin-left: 10%; }
  #queue                { margin-right: 10%; }
  .queue-text           { font-size: 16pt; }
}
